#headerWrapper {
    width: 100%;
}

.logo {
    padding: 10px;
    margin-right: 10x;
    font-size: 35px;
    font-family: fantasy;
}

.tagline {
    font-size: 10px;
    margin-top: 50px;
    margin-left: -123px;
    font-family: monospace;
}

.nav-wrapper {
    margin-left: 100px;
    margin-top: 15px;
}

#bookListWrapper, #cartListWrapper{
   width: 100%;
   padding: 1px;
   clear: both;
}



#bookListWrapper .book{
    border: 1px solid gray;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

#bookListWrapper .book .book-details{
    margin-left: 160px;
}

#bookListDiv, #cartListDiv{margin-top: 50px;}

.book{background: #337AB7; color: #fff;}

.book-border, .cart-border{
    border: 2px solid #000; 
    margin: 0 0 10px 5px!important;
    padding: 10px;
}

.container.ng-enter{
    -webkit-transition: 0.9s linear all;
    -moz-transition: 0.9s linear all;
    -o-transition: 0.9s linear all;
    transition: 0.9s linear all;
    opacity: 0;
}

.container.ng-enter-active{
    opacity: 1;
}

.book-border.ng-leave{
    -webkit-transition: 0.9s linear all;
    -moz-transition: 0.9s linear all;
    -o-transition: 0.9s linear all;
    transition: 0.9s linear all;
    opacity: 1;
   margin-left:20!important;
}

.book-border.ng-leave-active{
    opacity: 0;
    left: 600px;
}

.book-border.ng-enter{
    -webkit-transition: 0.9s linear all;
    -moz-transition: 0.9s linear all;
    -o-transition: 0.9s linear all;
    transition: 0.9s linear all;
    opacity: 1;
   margin-left:20!important;
}

.book-border.ng-enter-active{
    opacity: 0;
    left: 600px;
}
