<!-- This will show the list of books -->


<div id="bookListWrapper">
	<!-- SEARCH FORM -->
	<form role="form" class="col-sm-3">
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Search here...">
		</div>
	</form>

	<!-- LIST OF BOOKS -->
	<div id="bookListDiv" >
		<div class="row book-border" ng-repeat="book in books">
            <div class="col-md-1">
                <a href="#">
                    <img class="img-responsive" ng-src="{{book.imgURL}}" width="160px;"alt="">
                </a>
            </div>
            <div class="col-md-11">
                <h3>{{book.bookName}}<h4 class="text-uppercase"> by {{book.author}}</h4></h3>
                <h4>{{book.price | currency}}</h4>
                <ul class="list-unstyled list-block">
                    <li>Rating:	{{book.rating}} out of 5</li>
                    <li>Binding:	{{book.binding}}</li>
                    <li>Publisher:	{{book.publisher}}</li>
                    <li>Release Date:	{{book.releaseDate}}</li>
                </ul>
                <p>Details:	{{book.details}}</p>
                <a class="btn btn-primary" href="#" ng-click="addToCart(book)">Add to Cart</a>
            </div>
        </div>
	</div>
</div>