<!doctype html>
<html ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>BookArt using AngularJS</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="author" href="humans.txt">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <!-- JQuery JS -->
        <script src="js/jquery-1.11.3.min.js"></script>

        <!-- Bootstrap JS -->
        <script src="js/bootstrap.min.js"></script>

        <!-- AngularJS -->
        <script src="js/angular.min.js"></script>

        <!-- Custom AngularJS -->
        <script src="js/app.js"></script>

    </head>
    <body>

		<!-- NG CONTROLLER WILL CONTROL THE HEADER ELEMENT, THIS IS THE HEADER VIEW-->
    	<div id="header-wrapper" ng-controller="headerController">
			<span class="logo pull-left" >{{message.title}}</span>
			<span class="tagline pull-left">{{message.tagline}}</span>
			<div class="nav-wrapper pull-left">
				<ul class="nav nav-pills">
					<li class="active"><a href="#">Books</a></li>
					<li><a href="#">Cart</a></li>
				</ul>
			</div>
    	</div>

    	<div id="bookListWrapper">
    		<!-- SEARCH FORM -->
    		<form role="form">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search here...">
				</div>
    		</form>

    		<!-- LIST OF BOOKS -->
    		<div id="bookListDiv" ng-controller="booklistController">
				<div class="row book-border" ng-repeat="book in books">
		            <div class="col-md-1">
		                <a href="#">
		                    <img class="img-responsive" ng-src="{{book.imgURL}}" width="160px;"alt="">
		                </a>
		            </div>
		            <div class="col-md-11">
		                <h3>{{book.bookName}}</h3>
		                <h4>{{book.price}}</h4>
		                <ul class="list-unstyled list-block">
		                    <li>Rating:	{{book.rating}} out of 5</li>
		                    <li>Binding:	{{book.binding}}</li>
		                    <li>Publisher:	{{book.publisher}}</li>
		                    <li>Release Date:	{{book.releaseDate}}</li>
		                </ul>
		                <p>Details:	{{book.details}}</p>
		                <a class="btn btn-primary" href="#" ng-click="addToCart(book)">Add to Cart</a>
		            </div>
		        </div>
    		</div>
    	</div>
        
    </body>
</html>